.button {
  display: flex;
  align-items: center;
  padding: 0 68px;
  background-color: #7b8395;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 14px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #5c6475;
  }
}
